@using RazorPDFWebTest.PDFViews;
@model PDFTest

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.Title</title>
</head>
<body>
    <div class="content">
        @Model.Content
    </div>
    <footer>
        @Model.Footer
    </footer>
</body>
</html>